doctype html
html(ng-app='app1')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://cdn.datatables.net/1.10.6/css/jquery.dataTables.css')
    block head
  body
    block content
    block scripts
